.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.nav {
  padding: 20px 0;
  background-color: var(--nav-bg);
  border-bottom: 1px solid var(--nav-border);
  color: var(--nav-text);
}

.nav-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 30px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.logo {
  margin-right: auto;
  color: var(--nav-text);
  font-size: 24px;
}

.logo strong {
  font-weight: 700;
  color: var(--title-1);
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  align-items: center;
  column-gap: 40px;
  font-size: 20px;
  font-weight: 600;
}

.nav-list__link {
  color: var(--nav-text);
  transition: opacity 0.2s ease-in;
}

.nav-list__link:hover {
  opacity: 0.8;
}

.active {
  position: relative;
}

.active::before {
  content: '';

  position: absolute;
  left: 0;
  top: 100%;

  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--accent);
}

@media (max-width: 620px) {
  .nav-row {
    justify-content: space-between;
  }
}
