/* Header */

.header {
  padding: 40px 0;
  min-height: 695px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--header-bg);
  background-size: auto;
  overflow: hidden;
  color: var(--header-text);
  text-align: center;
  position: relative;
}

.header::before {
  content: '';
  width: 100%;
  height: 100%;
  max-width: 606px;
  max-height: 606px;
  position: absolute;
  background-image: url('../../assets/img/orange-red-enso.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  filter: var(--enso-grayscale);
  transform: rotate(260deg);
  animation-timing-function: ease-in-out;
  animation: 3s shadowstep;
}

@keyframes shadowstep {
  from {
    transform: rotate(260deg);
    filter: grayscale(0);
  }

  60% {
    filter: grayscale(0);
  }
  to {
    transform: rotate(-820deg);
    filter: var(--enso-grayscale);
  }
}

.header__wrapper {
  padding: 0 15px;
  max-width: 660px;
  position: relative;
  transform: opacity(1);
  animation-timing-function: ease-out;
  animation: 6s manifestation;
}

@keyframes manifestation {
  from {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.header__title {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.4;
}

.header__title strong {
  font-size: 60px;
  font-weight: 600;
}

.header__title em {
  font-style: normal;
  color: var(--accent);
  font-weight: 700;
  font-size: 65px;
}

.header__text {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 1.333;
}

.header__text p + p {
  margin-top: 0.5em;
}

/* Btn */

.btn {
  display: inline-block;
  height: 48px;
  padding: 12px 28px;

  border-radius: 5px;
  background-color: var(--accent);
  color: var(--white);
  letter-spacing: 0.15px;
  font-size: 16px;
  font-weight: 500;

  transition: opacity 0.2s ease-in;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  position: relative;
  top: 1px;
}

@media (max-width: 620px) {
  .header {
    min-height: unset;
  }

  .header::before {
    display: none;
  }

  .header__wrapper {
    animation: 2s manifestation;
  }

  @keyframes manifestation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .header__title {
    font-size: 30px;
  }

  .header__title strong {
    font-size: 40px;
  }

  .header__title em {
    font-size: 45px;
  }
}
