@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');

:root {
  /* Colors */
  --blackpure: #000;
  --black: #171718;
  --black-border: #26292d;
  --white: #fff;
  --orange: #f75404;
  --skyblue: #c6e3eb;
  --cloudy: #a7d4d1;

  /* Nav */
  --nav-bg: var(--black);
  --nav-border: var(--black-border);
  --nav-text: var(--white);

  /* Header */
  --header-bg: var(--black);
  --header-text: var(--white);

  /* Footer */
  --footer-bg: var(--black);
  --footer-text: var(--white);

  /* ButtonOutline */
  --outbtn-shadow: 0px 0px 3px var(--accent);

  /* Light mode */
  --page-bg: var(--skyblue);
  --text-color: var(--black);
  --accent: var(--orange);
  --title-1: var(--accent);
  --enso-grayscale: grayscale(0.5);
  --outbtn-background: var(--cloudy);
  --project-card-bg: var(--white);
  --project-card-text: var(--black);
  --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
}

.dark {
  /* Dark mode */
  --page-bg: #252526;
  --text-color: var(--white);
  --title-1: var(--white);
  --enso-grayscale: grayscale(0.8);
  --outbtn-background: var(--white);
  --project-card-bg: var(--black);
  --project-card-text: var(--white);
  --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8);
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'El Messiri', 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  letter-spacing: 0.3px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Light mode */
  background-color: var(--page-bg);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
